{% extends "layout.html"%}

{% block body %}
   <div class="container my-2">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>ชื่อธุรกรรม</th>
               <th>จำนวนเงิน</th>
               <th>หมวดหมู่</th>
               <th>วันที่บันทึกข้อมูล</th>
               <th>ลบ</th>
               <th>แก้ไข</th>
            </tr>
         </thead>
         <tbody>
            {% for item in statements %}
            <tr>
               <td>{{item.name}}</td>
               <td>{{item.amount | currencyFormat}}</td>
               <td><span class="badge bg-primary">{{item.category}}</span></td>
               <td>{{item.date}}</td>
               <td>
                  <a href="/delete/{{item.id}}" class="btn btn-sm btn-danger">ลบ</a>
               </td>
               <td>
                  <a href="/edit/{{item.id}}" class="btn btn-sm btn-success">แก้ไข</a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}
